body {
 margin: 10%;
 background-color: #eee;
}
.column {
  box-sizing: border-box;
  display: inline-block;
  width:calc(100% / 3);
  padding: 10px;
}
.left {
  background-color: #faa;
  float:left;
}
.center {
  background-color: #afa;
}
.right {
  background-color: #aaf;
  float:right;
}
img {
  width:100%;
}
